Context/Supabase Alfred Airbnb - C - The Merger.blueprint.json
{
    "name": "Supabase Alfred Airbnb - C - The Merger",
    "flow": [
        {
            "id": 1,
            "module": "supabase:watchEvents",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 3804194
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Ingestion completed?"
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Synthesizer Trigger (Scraped?)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:supabase",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "supabase:makeAnApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13552822
            },
            "filter": {
                "name": "Status Ingested?",
                "conditions": [
                    [
                        {
                            "a": "{{1.record.status}}",
                            "b": "Ingested",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "url": "/rest/v1/properties?id=eq.{{1.record.id}}&select=*",
                "method": "GET",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 422,
                    "y": -5,
                    "name": "Get Row (from id)"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "Supabase Alfred Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13250463
            },
            "mapper": {
                "model": "gemini-2.5-pro",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "text": "SOURCE DATA\nPlease analyze these two sources and generate the JSON based on the system instructions.\r\n\r\n=== SCRAPED DATA ===\r\n\r{{1.record.scraped_markdown}}\n\n=== INGESTED DATA ===\r\n{{1.record.ingested_markdown}}",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "generationConfig": {
                    "imageConfig": {},
                    "temperature": "0.1",
                    "thinkingConfig": {},
                    "responseMimeType": "application/json"
                },
                "system_instruction": {
                    "parts": [
                        {
                            "text": "# DATA MERGER PROMPT\r\n---\r\n## YOUR ROLE\r\nYou are a meticulous data extraction agent. Merge two property information sources into a single, exhaustive JSON knowledge base. Capture EVERY piece of information—nothing is too small to include.\r\n\r\n---\r\n\r\n## CRITICAL RULES\r\n\r\n### 1. EXHAUSTIVE EXTRACTION (MANDATORY)\r\n- Extract ALL information from both sources—no summarizing, paraphrasing, or omitting\r\n- Include ALL URLs, numbers, measurements, prices, times, names, phone numbers, addresses\r\n- Include ALL amenities, features, items visible in images\r\n- Include ALL brands, colors, materials mentioned\r\n- When in doubt, INCLUDE IT\r\n\r\n### 2. ENTITY AWARENESS (PREVENTS FALSE CONFLICTS)\r\nBefore comparing values, identify if data describes:\r\n- **THE LISTING** (this specific property): capacity, amenities, reviews for THIS property, address\r\n- **THE HOST** (the person/company): total reviews across ALL properties, years hosting, bio\r\n\r\n**CRITICAL:** Listing reviews ≠ Host total reviews. These are DIFFERENT entities—store separately, never flag as conflict.\r\n\r\n**Structure:**\r\n```json\r\n{\r\n  \"listing_reviews\": {\r\n    \"total\": 51,\r\n    \"rating\": 4.94,\r\n    \"breakdown\": {...}\r\n  },\r\n  \"host_profile\": {\r\n    \"total_reviews_all_properties\": 419,\r\n    \"years_hosting\": 7\r\n  }\r\n}\r\n```\r\n\r\n### 3. CONFLICT DETECTION (STRICT)\r\nFlag as conflict ONLY when:\r\n- Same field for SAME entity has different values (e.g., listing max_guests: 3 vs 5)\r\n- Same measurement differs (pool depth, coordinates, pricing for same service)\r\n- Different pricing models for same service exist\r\n\r\nDO NOT flag as conflict:\r\n- Listing-specific data vs host-wide data (different entities)\r\n- Minor coordinate precision differences (<0.001 degrees are rounding—use most precise)\r\n- Complementary information that adds detail rather than contradicts\r\n\r\n**Conflict Format:**\r\n```json\r\n{\r\n  \"field_name\": {\r\n    \"_conflict\": true,\r\n    \"scraped_value\": \"...\",\r\n    \"ingested_value\": \"...\",\r\n    \"_requires_clarification\": \"Brief description\"\r\n  }\r\n}\r\n```\r\n\r\n### 3.5. CONFLICT REPORT GENERATION (MANDATORY)\r\n\r\nWhen conflicts are detected, you MUST generate a conflict_report array at the root level of the JSON. This array enables the host to resolve discrepancies through a simple questionnaire interface.\r\n\r\nFor EACH conflict flagged, create an entry with:\r\n\r\njson{\r\n  \"id\": \"field_path\",\r\n  \"question\": \"Human-readable question for the host\",\r\n  \"options\": [\"value1\", \"value2\", \"value3\", \"other\"],\r\n  \"context\": \"brief explanation of why this matters\"\r\n}\r\n\r\nField Specifications:\r\n\r\nid: The JSON path to the conflicting field (e.g., \"capacity.max_guests\", \"pricing.pool_heating\")\r\nquestion: A clear, actionable question the host can answer (match the language of the questions to the language of the property listing)\r\noptions: Array of ALL conflicting values discovered + ALWAYS include \"other\" as the final option (allows host to input free text if none of the values are correct)\r\ncontext: 1-2 sentences explaining why this conflict exists or why it matters to guests (neutral tone, don't favor any option)\r\n\r\nExample:\r\njson{\r\n  \"conflict_report\": [\r\n    {\r\n      \"id\": \"capacity.max_guests\",\r\n      \"question\": \"Detectamos capacidades diferentes. ¿Cuál es el número máximo correcto de huéspedes?\",\r\n      \"options\": [3, 5, \"other\"],\r\n      \"context\": \"El anuncio de Airbnb muestra 5 huéspedes máximo, pero los mensajes automáticos mencionan 3. Esto afecta las reservas y el acceso a la comunidad.\"\r\n    },\r\n    {\r\n      \"id\": \"pricing.pool_heating\",\r\n      \"question\": \"Encontramos 4 modelos de precios diferentes para calentar la alberca. ¿Cuál es el modelo actual?\",\r\n      \"options\": [\r\n        \"Modelo escalonado: $1300-$2500 según horas\",\r\n        \"Mantenimiento nocturno: $650/noche\",\r\n        \"Ciclo alternativo: $600/12 horas\",\r\n        \"Pago único: $680/día\",\r\n        \"other\"\r\n      ],\r\n      \"context\": \"Se encontraron diferentes modelos de precios en las conversaciones con huéspedes. La claridad en este punto ayuda a evitar confusiones durante la reserva.\"\r\n    }\r\n  ]\r\n}\r\nQuality Guidelines:\r\n\r\nQuestions must be in the property's primary language (Spanish for this listing example)\r\nOptions must preserve exact values (don't round numbers or paraphrase)\r\nALWAYS include \"other\" as the last option in every options array\r\nContext should be neutral—explain the discrepancy and guest impact without suggesting which option to choose\r\nContext should help the host understand why this matters, not which answer is \"correct\"\r\n\r\nOutput Structure:\r\njson{\r\n  \"_conflicts_summary\": {\r\n    \"_has_conflicts\": true,\r\n    \"_conflict_count\": 2,\r\n    \"_requires_host_review\": true\r\n  },\r\n  \"conflict_report\": [\r\n    { /* conflict 1 */ },\r\n    { /* conflict 2 */ }\r\n  ],\r\n  \"property_identity\": { ... },\r\n  \"location\": { ... }\r\n}\r\n\r\n### 4. COMMUNICATION STYLE EXTRACTION (CRITICAL)\r\nThe host's communication patterns are essential for chatbot personality. Extract deeply:\r\n\r\n**From conversation history, extract:**\r\n- Greeting patterns (formal/casual, specific phrases used)\r\n- Sign-off style (how messages end)\r\n- Emoji usage (frequency, types, patterns)\r\n- Formality level (tú/usted, contractions, slang presence)\r\n- Message length tendency (brief/detailed)\r\n- Tone markers (warm/professional/enthusiastic/direct)\r\n- Actual example phrases verbatim\r\n- Language preference and switching patterns\r\n\r\n**Store as:**\r\n```json\r\n{\r\n  \"host_profile\": {\r\n    \"communication_style\": {\r\n      \"tone\": \"...\",\r\n      \"greeting_style\": \"...\",\r\n      \"sign_off_style\": \"...\",\r\n      \"emoji_usage\": \"...\",\r\n      \"formality_level\": \"...\",\r\n      \"message_structure\": \"...\",\r\n      \"example_phrases\": [\"...\", \"...\"]\r\n    }\r\n  }\r\n}\r\n```\r\n\r\n### 5. LANGUAGE HANDLING\r\n- JSON keys and structure: English\r\n- For verbatim signs/instructions:\r\n```json\r\n{\r\n  \"verbatim\": \"[exact original text]\",\r\n  \"translation\": \"[English translation]\",\r\n  \"original_language\": \"[language]\"\r\n}\r\n```\r\n- Other content: translate to English, note original language if relevant\r\n\r\n### 6. DYNAMIC STRUCTURE\r\n- Build JSON based on what EXISTS—no empty sections or placeholders\r\n- If property has X → create X field\r\n- Let data shape structure, not templates\r\n\r\n### 7. MEDIA EXTRACTION\r\nInclude complete media section:\r\n- Total photo count\r\n- Thumbnail URL\r\n- ALL image gallery URLs with descriptions\r\n- Video links if present\r\n- Extract ALL items/features from image analyses (brands, colors, dimensions, safety notes)\r\n\r\n---\r\n\r\n## EXTRACTION CHECKLIST\r\n\r\n### Property Identity & Location\r\n- Property name(s), type, listing ID/URL\r\n- Full address, coordinates, Google Maps link\r\n- Neighborhood description, community/gate access\r\n\r\n### Host Profile (Separate from Listing)\r\n- Name, ID, phone, bio\r\n- Response rate/time, Superhost status\r\n- Years hosting, **total reviews across ALL properties**\r\n- Communication style (detailed extraction)\r\n- Emergency contacts\r\n\r\n### Listing Data (Specific to This Property)\r\n- Max guests, bedrooms, beds, bathrooms configurations\r\n- **Reviews for THIS property only**\r\n- Rating breakdown for THIS property\r\n\r\n### Check-in/Check-out\r\n- Times, method, instructions, access codes\r\n- Early/late policies with pricing\r\n- Cancellation policy\r\n\r\n### Pricing\r\n- All pricing mentioned (services, fees, extras)\r\n- Multiple pricing models if exist (flag as conflict)\r\n- Payment methods\r\n\r\n### Amenities (Extract ALL)\r\n- Kitchen: appliances with brands, features, supplies\r\n- Entertainment, climate control\r\n- Bathroom features and supplies\r\n- Bedroom features, laundry\r\n- Outdoor furniture, pool details (dimensions, features, heating)\r\n- Internet (network, password, speed)\r\n- Workspace, safety features, parking\r\n\r\n### House Rules\r\n- Guest capacity, quiet hours\r\n- Pet/smoking/party/visitor policies\r\n- Children rules, max guest enforcement\r\n\r\n### Instructions (Verbatim + Translation)\r\n- AC/climate control, pool rules, appliance instructions\r\n- Energy conservation signs, door/lock instructions\r\n- All posted signs with original language preserved\r\n\r\n### Safety & Emergency\r\n- First aid kit location/contents\r\n- Emergency procedures, contacts, addresses\r\n- Medical facility info\r\n\r\n### Local Information\r\n- Shopping advice, items to bring\r\n- Nearby amenities or lack thereof\r\n\r\n### Media\r\n- Photo count, thumbnail, ALL gallery URLs\r\n- Image descriptions from analysis\r\n\r\n---\r\n\r\n## OUTPUT FORMAT\r\nReturn ONLY valid JSON:\r\n- No markdown formatting (no ```json```)\r\n- No explanations before/after\r\n- Numbers as numbers (not strings)\r\n- Booleans as true/false\r\n- No empty objects or null placeholders\r\n- Clean, readable indentation\r\n\r\nInclude `_conflicts_summary` at root if conflicts exist:\r\n```json\r\n{\r\n  \"_conflicts_summary\": {\r\n    \"_has_conflicts\": true,\r\n    \"_conflict_count\": 3,\r\n    \"_conflict_locations\": [\"path.to.field1\", \"path.to.field2\"],\r\n    \"_requires_host_review\": true\r\n  }\r\n}\r\n```\r\n\r\n---\r\n\r\n## FINAL REMINDERS\r\n✅ If it's in the source → it's in the JSON  \r\n✅ Listing data ≠ Host data (separate entities, no false conflicts)  \r\n✅ If sources contradict for SAME entity → flag conflict  \r\n✅ If image shows something → extract it  \r\n✅ If sign has text → include verbatim + translation  \r\n✅ Communication style is CRITICAL → extract deeply\r\n\r\n**Generate the complete JSON now.**"
                        }
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 722,
                    "y": -5,
                    "name": "Merger + conflict detector"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 2.5 Pro"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "include_thoughts": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "JSON Output"
                                },
                                "new_responseSchema": {
                                    "mode": "chose"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "Gemini_Lighthouse_Key"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ]
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": false
                                                            },
                                                            {
                                                                "help": "You get this from the 'Upload a File' module.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": false
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system_instruction",
                        "spec": [
                            {
                                "name": "parts",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt"
                                },
                                "type": "array",
                                "label": "Prompts"
                            }
                        ],
                        "type": "collection",
                        "label": "System Instructions"
                    },
                    {
                        "name": "safetySettings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "generationConfig",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Stop Sequence"
                                },
                                "type": "array",
                                "label": "Stop Sequences"
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Thinking Config"
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Image Configuration"
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            },
                            {
                                "name": "responseSchema",
                                "type": "any",
                                "label": "Response Schema (Deprecated)"
                            },
                            {
                                "name": "new_responseSchema",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Value Type",
                                        "options": [
                                            {
                                                "label": "String",
                                                "value": "string",
                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=string"
                                            },
                                            {
                                                "label": "Enum",
                                                "value": "enum",
                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=enum"
                                            },
                                            {
                                                "label": "Number",
                                                "value": "number",
                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=number"
                                            },
                                            {
                                                "label": "Integer",
                                                "value": "integer",
                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=integer"
                                            },
                                            {
                                                "label": "Boolean",
                                                "value": "boolean",
                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=boolean"
                                            },
                                            {
                                                "label": "Object",
                                                "value": "object",
                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=object"
                                            }
                                        ]
                                    }
                                ],
                                "type": "array",
                                "label": "Response Schema"
                            }
                        ],
                        "type": "collection",
                        "label": "Generation configurations"
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 1
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1022,
                    "y": -5
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "supabase:upsertARecord",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 13552822
                            },
                            "filter": {
                                "name": "Has conflicts",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.result.`_conflicts_summary`.`_has_conflicts`}}",
                                            "b": "true",
                                            "o": "boolean:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{2.body[].id}}",
                                "table": "properties",
                                "status": "Trained",
                                "master_json": "{{3.result}}",
                                "conflict_report": "{{3.result.conflict_report}}",
                                "conflict_status": "Waiting"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1556,
                                    "y": -202
                                },
                                "restore": {
                                    "expect": {
                                        "table": {
                                            "mode": "chose",
                                            "label": "properties",
                                            "nested": [
                                                {
                                                    "help": "Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to timezone('utc'::text, now()). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to auth.uid(). ",
                                                    "name": "owner_id",
                                                    "type": "text",
                                                    "label": "owner_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "airbnb_url",
                                                    "type": "text",
                                                    "label": "airbnb_url",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to Training. ",
                                                    "name": "status",
                                                    "type": "text",
                                                    "label": "status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "master_json",
                                                    "type": "text",
                                                    "label": "master_json",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "scraped_markdown",
                                                    "type": "text",
                                                    "label": "scraped_markdown",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "ingested_markdown",
                                                    "type": "text",
                                                    "label": "ingested_markdown",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "This column returns the state of the Conflicts or discrepancies found in the data",
                                                    "name": "conflict_status",
                                                    "type": "text",
                                                    "label": "conflict_status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Here the conflicting questions from the Merger will be stored",
                                                    "name": "conflict_report",
                                                    "type": "text",
                                                    "label": "conflict_report",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            },
                                            "label": "Supabase Alfred Connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    },
                                    {
                                        "name": "owner_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "airbnb_url",
                                        "type": "text"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "master_json",
                                        "type": "text"
                                    },
                                    {
                                        "name": "scraped_markdown",
                                        "type": "text"
                                    },
                                    {
                                        "name": "ingested_markdown",
                                        "type": "text"
                                    },
                                    {
                                        "name": "conflict_status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "conflict_report",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "id"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    },
                                    {
                                        "name": "owner_id",
                                        "type": "text",
                                        "label": "owner_id"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "name"
                                    },
                                    {
                                        "name": "airbnb_url",
                                        "type": "text",
                                        "label": "airbnb_url"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text",
                                        "label": "status"
                                    },
                                    {
                                        "name": "master_json",
                                        "type": "text",
                                        "label": "master_json"
                                    },
                                    {
                                        "name": "scraped_markdown",
                                        "type": "text",
                                        "label": "scraped_markdown"
                                    },
                                    {
                                        "name": "ingested_markdown",
                                        "type": "text",
                                        "label": "ingested_markdown"
                                    },
                                    {
                                        "name": "conflict_status",
                                        "type": "text",
                                        "label": "conflict_status"
                                    },
                                    {
                                        "name": "conflict_report",
                                        "type": "text",
                                        "label": "conflict_report"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "supabase:upsertARecord",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 13552822
                            },
                            "mapper": {
                                "id": "{{2.body[].id}}",
                                "table": "properties",
                                "status": "Trained",
                                "master_json": "{{3.result}}",
                                "conflict_report": "[]",
                                "conflict_status": "Resolved"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1559,
                                    "y": 201
                                },
                                "restore": {
                                    "expect": {
                                        "table": {
                                            "mode": "chose",
                                            "label": "properties",
                                            "nested": [
                                                {
                                                    "help": "Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to timezone('utc'::text, now()). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to auth.uid(). ",
                                                    "name": "owner_id",
                                                    "type": "text",
                                                    "label": "owner_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "airbnb_url",
                                                    "type": "text",
                                                    "label": "airbnb_url",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to Training. ",
                                                    "name": "status",
                                                    "type": "text",
                                                    "label": "status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "master_json",
                                                    "type": "text",
                                                    "label": "master_json",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "scraped_markdown",
                                                    "type": "text",
                                                    "label": "scraped_markdown",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "ingested_markdown",
                                                    "type": "text",
                                                    "label": "ingested_markdown",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "This column returns the state of the Conflicts or discrepancies found in the data",
                                                    "name": "conflict_status",
                                                    "type": "text",
                                                    "label": "conflict_status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Here the conflicting questions from the Merger will be stored",
                                                    "name": "conflict_report",
                                                    "type": "text",
                                                    "label": "conflict_report",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            },
                                            "label": "Supabase Alfred Connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    },
                                    {
                                        "name": "owner_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "airbnb_url",
                                        "type": "text"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "master_json",
                                        "type": "text"
                                    },
                                    {
                                        "name": "scraped_markdown",
                                        "type": "text"
                                    },
                                    {
                                        "name": "ingested_markdown",
                                        "type": "text"
                                    },
                                    {
                                        "name": "conflict_status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "conflict_report",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "id"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    },
                                    {
                                        "name": "owner_id",
                                        "type": "text",
                                        "label": "owner_id"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "name"
                                    },
                                    {
                                        "name": "airbnb_url",
                                        "type": "text",
                                        "label": "airbnb_url"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text",
                                        "label": "status"
                                    },
                                    {
                                        "name": "master_json",
                                        "type": "text",
                                        "label": "master_json"
                                    },
                                    {
                                        "name": "scraped_markdown",
                                        "type": "text",
                                        "label": "scraped_markdown"
                                    },
                                    {
                                        "name": "ingested_markdown",
                                        "type": "text",
                                        "label": "ingested_markdown"
                                    },
                                    {
                                        "name": "conflict_status",
                                        "type": "text",
                                        "label": "conflict_status"
                                    },
                                    {
                                        "name": "conflict_report",
                                        "type": "text",
                                        "label": "conflict_report"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}